.header {
  height: 100px;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(180, 253, 63);
  @media (min-width: 992px) {
    justify-content: space-between;
    flex-direction: row;
    h1 {
      font-size: 3rem;
    }
  }
  .logo {
    font-size: 30px;
    cursor: pointer;
    a {
      color: white;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: rgb(180, 253, 63);
      }
    }
  }
  .nav {
    .items {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 2rem;
      .item {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        @media (min-width: 992px) {
          font-size: 1.5rem;
        }
        a {
          color: white;
          display: block;
          &:hover {
            color: rgb(180, 253, 63);
          }
        }
        span {
          height: 2px;
          transform: scaleX(0);
          transition: all 0.5s;
        }
        &:hover span {
          background: rgb(180, 253, 63);
          transform: scale(1);
        }
      }
    }
  }
}
